.field-search {
    font-size: 18px;
    opacity: 0.5;
    width: 360px;
    margin-top: 8px;
    margin-right: 8px;
    margin-bottom: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 18px;
    border: 1px solid;
    border-radius: 5px;
}

.btn-search {
    font-size: 18px;
    background-color: blue;
    color: white;
    width: 140px;
    padding: 5px auto;
    border: 1px solid;
    border-radius: 5px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 20px;
    padding-right: 20px;
}